<h1></h1>
<p></p>

<blockquote>
  <p>"<%= @question %>"</p>
  <p> - You</p>
</blockquote>

<blockquote class="coach">
  <p>"<%= @answer %>"</p>
  <p> - Your Coach</p>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
