<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<form action="/question" method="get">
  <input type="text" name="question" placeholder="whats your question?">
  <input type="submit">
</form>
